@import '/styles/variables';

.wrapper {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   width: 100vw;
   height: 100svh;
   font-family: $font-1-regular;
   padding: 40px;
   @media (max-width: 700px) {
      padding: 0;
   }
}
